{% extends 'base.html' %}
{% block content %}
<div class ='container'>
    <div class ="row my-3">
        <div class='col-md-6'>
            <img src="{{food.image.url}}" alt="{{food.name}}">
        </div>
        <div class = 'col-md-6'>
            <h3>{{food.name}}</h3>
            <h5>Rs-{{food.price}} </h5>
            <p class ='text-lead'>{{food.description}}</p>
            <p class ='text-lead'>{{food.secondry_description}}</p>
            <div class ='my-2'>
                {% if food.is_available %}
                    {% if user.is_authenticated %}
                    <form action="{% url 'add_to_cart' %}" method ='POST'>
                        {% csrf_token %}
                        <input type="hidden" name='food_id' value ='{{food.id}}'>
                        
                            <div class="input-group mb-3">
                            <button class="btn btn-outline-secondary" type="button" onclick="decrement()">-</button>
                            <input type="text" class="quantity" id="quantity" name ="quantity" value = "1" readonly>
                            <button class="btn btn-outline-secondary" type="button" onclick="increment()">+</button>
                           
                        </div>
                        

                        <input type="submit" value="Add to cart" class = "btn btn-primary w-100">
                    </form>

                    {% comment %} <a href="" class ="btn btn-primary btn-sm w-100">Add to Cart</a> {% endcomment %}
                    {% else %}
                        <a href={% url 'sign_in' %} class ="btn btn-primary btn-sm w-100">sign in to buy</a>
                    {% endif %}
                    
                {% else %}
                    <p class='text-danger'>Curently not available</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}